@import url("../css/fancy_button.css");
:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #FFFCF2;
    --text-secondary: #CCC5B9;
    --accent-primary: #E18937;
    --accent-secondary: #335C67;
    --bg-primary: #252422;
    --bg-secondary: #403D39;
}
body {
  background: var(--bg-primary)!important;
  font-family: "Effra", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html{
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-primary)!important;

    font-family: 'Roboto', sans-serif;
    color:var(--text-primary)!important;
}
body::-webkit-scrollbar{
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background:#403D39;
}
body::-webkit-scrollbar-thumb{
    background:#E18937;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  margin-top: 0;
}
a {
  color: var(--accent-primary);
}
a:hover {
  color: var(--accent-secondary);
  text-decoration: none;
}
.example-header {
  background: #3D4351;
  color: var(--text-primary);
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: var(--text-primary);
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  color: var(--text-secondary);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}
.container-fluid .row {
  padding: 0;
}
.container-fluid .row:nth-child(even) {
  background: #6a95a3;
}
.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}
/*==================================
 TIMELINE
 ==================================*/
/*-- GENERAL STYLES
 ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}
/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: var(--accent-secondary);
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: var(--text-secondary);
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid var(--accent-primary);
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
/*----------------------------------------------
 MOD: TIMELINE SPLIT
 ----------------------------------------------*/
 .timeline-split{
  padding-left: 2rem;
  padding-right:3rem;
 }
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info, .timeline-split .timeline-marker, .timeline-centered .timeline-marker, .timeline-split .timeline-content, .timeline-centered .timeline-content, .timeline-split .period .timeline-info, .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
/*----------------------------------------------
 MOD: TIMELINE CENTERED
 ----------------------------------------------*/
 .timeline-info{
  color: var(--accent-primary)
 }
@media (min-width: 992px) {
  
  .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info, .timeline-centered .timeline-content {
    width: 50%;

  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    /* width: 100%; */
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
  .timeline-info{
    font-size: 2rem;;
  }
}
/*----------------------------------------------
 MOD: MARKER OUTLINE
 ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

p{
  color: var(--text-secondary)
}
span{
  color:#f0c195;
}

.grid-container {
  display: grid;
	columns: 1 ;
	 /* column-gap: 1.5rem; */
   grid-template-columns: 1fr;
	 width: 100%;

	 /* margin: 100px auto; */
}
 .grid-container div {
	 /* width: 150px; */
	 /* margin: 0 1.5rem 1.5rem 0; */

	 /* display: inline-block; */
	 width: 80%;
	 border: solid 2px var(--accent-secondary);
	 padding: 5px;
	 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	 border-radius: 5px;
	 transition: all 0.5s ease-in-out;
   justify-content: center;
}

 .grid-container div:hover a img {
	 filter: grayscale(0);
   filter:brightness(100%);
}
 .grid-container div:hover {
	 border-color: var(--accent-primary);
}
 .grid-container div a img {
	 width: 100%;
	 filter: grayscale(100%);
   filter:brightness(20%);
	 border-radius: 5px;
	 transition: all 0.5s ease-in-out;
   
}
 .grid-container div p {
	 margin: 5px 0;
	 padding: 0;
	 text-align: justify;
	 font-style: italic;
}
.btn-wrapper{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.image-a{
  position: relative;
  min-height: 150px;
  width: 90% !important;
}

.timeline{
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 992px) {
.timeline{
  padding-left: 15rem;
  padding-right: 15rem;
}
.image-a{
  position: relative;
  min-height: 150px;
  width: 45rem !important;
}
}
p {
  margin: 0;
  font-size: -webkit-calc(100% + 2px);

}